// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main{
    padding-left:380px;
    padding-top:50px;
}

ul {
   list-style: none;
}

.name{
    text-align:center;
}

.hoge{
    border-radius: 20px;
    color:gray;
}

.arrow-icon-color-selector{
    border-radius: 50%;
}

.link-main{
    padding-left: 50px;
}
